body {
    background-color:white;
}
.badge {
    box-sizing: border-box;
    display: inline-block;
    background-color: black;
    color: white;
    
    border-radius: 3rem; 
    text-align: center;

    font-size: 1.6rem;
    font-weight: 400;
    padding: .05rem .8rem .1rem;
    line-height: inherit;
}
.badge--small {
    font-size: 0.7rem;
    padding: .1rem .65rem .2rem;
    float: right;
}